.contents_wrapper {
  width: 80%;
  max-height: 80vh;
  position: relative;
  margin: 1em auto;
  display: flex;
  flex-flow: column;
}

.title_contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}

.title_string {
  margin: auto;
  font-size: large;
  font-weight: bold;
  flex-grow: 1;
}

.list_wrapper {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  margin: auto;
  line-height: 20px;
}

.list_contents {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
}

.list_title {
  font-size: medium;
  font-weight: bold;
}

.list_string {
  margin: auto 0;
  font-weight: bold;
}
