.page_wrapper {
  width: 100%;
  max-width: 780px;
  position: relative;
  margin: auto;
}

.header_wrapper {
  padding: 1em 2em;
  background-color: aliceblue;
}

.contents_wrapper {
  display: flex;
  flex-flow: column;
  margin: 2em;
}

.searchbox_wrapper {
  display: flex;
}
